modules = ["nodejs-18:v18-20230807-bd784b9", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd server && npm install && npm start"]
build = ["sh", "-c", "cd client && npm install && npm run build"]

[workflows]
runButton = "Run Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build and Run (Production)"
author = 27546771
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm start"
